body {
    font-family: 'Space Mono', monospace;
    width: 300px;
    padding: 15px;
    margin: 0px;
    color: #ddd;
    background-image: linear-gradient(to bottom, #222222, #10111c);
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup {
    display: flex;
    flex-direction: column;
}

.popup-header {
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #ddd;
}

.popup-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.body-text {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.h3 {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.h4 {
    padding: 0px;
    padding-top: 1px;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.popup-footer {
    padding-top: 12px;
    border-top: 1px solid #aaa;
}

.footer-text {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #5E51B0;
    -webkit-box-shadow: inset 0 0 60px 15px #261B70;
    box-shadow: inset 0 0 60px 15px #261B70;
    opacity: 0.6;
    text-align: center;
    align-items: center;
    justify-content: left;
    width: 100%;
    transition: background 0.3s, -webkit-box-shadow 0.3s, box-shadow 0.3s, opacity 0.3s;
    cursor: pointer;
}

.btn:hover,
.btn.enabled:hover {
    background: #f2e5ff;
    -webkit-box-shadow: inset 0 0 60px 15px #9990D6;
    box-shadow: inset 0 0 60px 15px #9990D6;
    opacity: 1;
}

.btn-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px;
}

.btn-toggle.enabled,
.btn-logo.enabled {
    background: #9C8DFC;
    -webkit-box-shadow: inset 0 0 60px 15px #6153BD;
    box-shadow: inset 0 0 60px 15px #6153BD;
    opacity: 1;
}

.btn-image {
    width: 24px;
    height: 24px;
    display: flex;
    float: left;
    margin: 0px;
}

.radio-btn-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: stretch;
}

.btn-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.logo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.logo-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-radio {
    display: none;
}

.hyperlink {
    color: #fff;
}